@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Great+Vibes&family=Praise&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button:hover{
    opacity: 0.8;
    transition: all .3s ease-in-out;
}
body{
    background-color: #031600;
}
/* header */
.Container{
    background-color: transparent;
    position: relative;
    top: -20px;
  }
  nav.Container > div  img{
    height: 90px;
    margin-top: 1%;
    margin-left: 1%;
    position: absolute;
}
    
nav.Container > h1{
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  color: white;
  position: inherit;
  margin-left: 13%;
  margin-top: 40px;
}

nav.Container > p{
  float: left;
  color: white;
  font-family: sans-serif;
  font-size: 10pt;
  position: absolute;
  margin-left:13%;
  margin-top: 70px;
}
  .search{
    float: right;
    padding-top: 0%;
    padding-right: 2%;
    height: 10%;
    width: 25%;
  }
  
  .search input{
    margin-top: 7%;
    margin-right: 5%;
    height: 35px;
    width: 100%;
  }
  
  
  /* for menus like home, about us */
  .menu{
    margin-right: 45px;
  }
  .menu ul{
    float: right;
    list-style: none;
    display:inline-flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content:baseline;
    margin-right: -17px;
    /* background-color: red; */
  }
  
  .menu ul li{
    padding: 10px 0;
  }
  
  .menu ul li.items{
    position: relative;
    width: auto;
    margin: 0 10px;
    text-align:justify;
  }
  
  .menu ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: green;
    opacity: 0;
    transition: all 0.2s linear;
  }
  .menu ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  .menu ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    /* font-weight: 600; */
    cursor: default;
    user-select: none;
  }
  .menu ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  .menu ul li:hover a{
    color: green;
  }
  .menu ul li i{
    font-size: 23px;
  }
  .menu ul li.menusbtn{
    display: none;
  }
  .menu ul li.menusbtn.hide i:before{
    content: '\f00d';
  }
  @media all and (max-width: 900px){
    .menu{
      padding: 5px 30px;
      
    }
    .menu ul li.items{
      width: 100%;
      display: none;
      z-index:5;
    }
    .menu ul li.items.show{
      display: block;
    }
    .menu ul li.menusbtn{
      display: block;
    }
    .menu ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px white,
                  inset 0 0 10px green;
    }
    .menu ul li.items:hover:after{
      opacity: 0;
    }
  }
  
  /* end of menus */
  .border {
    background-color: rgb(204, 199, 199);
    height: 48px;
    padding-top: 0.4%;
  }
  .nav2{
      background-color: #031600;
      padding :4px;
      height: 37px;
      position: relative;
  }
  
  
  
  
  /* for signin */
  
  span.signup >a{
      float:right;
      margin-right: 50px;
      text-decoration: none;
      color:white;
      background-color: transparent;
      border: none;
      font-size: 12pt;
      cursor: pointer;
  }
  span.signup :hover{
      color: green;
  }

  
  
    
  span.login > a{
      float:right;
      margin-right: 80px;
      text-decoration: none;
      color:rgb(252, 246, 246);
      background-color: transparent;
      width: 100px;
      height: 30px;
      border: none;
      font-size: 12pt;
      margin-top: 0px;
      cursor: pointer;
  }
    
  span.login :hover{
      color: green;
  }
    
  .IN > img{
      float:right;
      height: 30px;
      width: 30px;
      margin-top: 5px;
      margin-right: 10px;
  }
  
  .vanie img{
      width: 40px;
      height: 40px;
      margin-left: 10%;
      float: left;
  }
  .about{
      font-size: 12pt;
      text-decoration: none;
      color: rgb(247, 242, 242);
      padding: 0px;
      margin-top: 0;
      margin-left: 13%;
  }
  
  @media only screen and (max-width:500px)
  {
      .search input{
      margin-top: 52%;
      margin-right: 5%;
      height: 25px;
      width: 100%;
      }
      span.signup > a{
  
          margin-top: 10px;
          text-decoration: none;
          color:black;
      }
      span.login > label{
          margin-top: 10px;
          text-decoration: none;
          color:black;
      }
      .UP > img{
          float:right;
          height: 31px;
          width: 31px;
          margin-top: 5px;
          
      }
      .IN > img{
          float:right;
          height: 30px;
          width: 30px;
          margin-top: 5px;
          
      }
  
    .nav2{
      background-color: white;
      height: 40px;
      margin-top: 4%;
      position: relative;
    }
  }
/* end of header */

:root {
    --light-main: rgb(160, 247, 160);
    --light-second: green;
    --light-hover: rgb(67, 201, 67);
    --light-text: rgb(1, 14, 1);

    --blue: green;
    --white: #fff;
    --font-family: cursive;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
    float: right;
    margin-right: 3%;
    height: 65%;
    width: 30%;
    display: block;
}


.section {
    height: 250px;
    width: 100%;
}


@media (max-width: 644px) {

    .footer-distributed {
        font: bold 14px sans-serif;

    }
    .main {
        line-height: normal;
        font-size: auto;
    }

}
.bg{
    background: url(../Resources/pa.png);
    background-repeat: no-repeat;
    height: 484px;
    image-resolution: 2024px;
    background-size:100% 90%;
}
.body span{
    font-family: 'Times New Roman';
}
.bg .body{
    font-family: 'Times New Roman';
    padding: 20vh;
    font-size: 5rem;
    color: white;
    font-weight: 800;
}
.body .body-text{
    width: 400px;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
}
.btn button{
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    background: #105B13;
    border-radius: 0px 15px;
}
.main-abt h2{
    color: white;
    text-align: center ;
    margin: 30px;
}

.rppic img{
    width: 400px;
    height: 200px;
    box-shadow: 0 10px 15px green;
    border: 0.2px solid green;
    border-radius: 20px;
}
.rppic:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.def{
    margin-right: 10vh;
    padding: 20px;
    margin-left: 5vh;
    color: white;
    font-size: 16px;
}
.rp{
    display: flex;
    margin-left: 20vh;
}
.def button{
    width:100px;
    margin-top: 8px;
    background-color: #105B13;
    text-transform: uppercase;
    padding: 5px;
    display: block;
    border: none;
    color: white;
    text-align: center; 
}
.mission h3{
    color: white;
    text-align: center; 
    margin-top: 5px;
    font-size: 1.5rem;
}
.misdef {
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
.mission{  
  margin: 3rem; 
  margin-right: 5rem;
  margin-left: 40rem;
  padding: 1rem;
  border: 0.2px solid white;
  height: 19rem;
}
.vision{
  margin: 3rem; 
  margin-right: 40rem;
  margin-left: 5rem;
  margin-top: 5rem;
  padding: 1rem;
  border: 0.2px solid white;
  height: 21rem;
 
}
.vision h4{
    color: white;
    text-align: center; 
    margin-top: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.visdef{
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
.story{
    margin-top: 25px;
    display: flex;
    margin-left: 20vh;
}
.story h5{
    color: white;
    text-align: left; 
    margin-top: 5px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.story p{
  text-align: justify;
}

.sp img{
  display: flex;
  width: 300px;
  height: 280px;
  box-shadow: 0 10px 15px green;
  border: 0.2px solid green;
  border-radius: 20px;
}
.sp img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-out;
}

.storydef{
    margin-right: 9vh;
    padding: 10px;
    margin-left: 8vh;
    color: white;
    font-size: 16px;
    width: 600px;
    line-height: 28px;
    
}
.storydef button{
    display: block;
    border: none;
    margin-top: 5px;
    text-transform: uppercase;
    color: white;
    padding: 5px;
    background-color: #105B13;
    width: 100px; 
}
.action h6{
    color: white;
    text-align: center;
    font-size:  1.5rem;
    margin: 30px 0;
}
.planting{
  background: url(../Resources/team.jpeg);
  background-repeat: no-repeat;
  width: 362px;
  height: 386px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 15px green;
  border: 0.2px solid green;
  border-radius: 20px;
}
.recycle{
  background: url(../Resources/recycle.jpg);
  background-position: center;
  width: 362px;
  height: 386px;
  box-shadow: 0 10px 15px green;
  border: 0.2px solid green;
  border-radius: 20px;
}
.plant{
  background: url(../Resources/tree-planting-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 362px;
  height: 386px;
  box-shadow: 0 10px 15px green;
  border: 0.2px solid green;
  border-radius: 20px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img div{
    margin: 20px;
}
.img div button{
    border: none ;
    background: rgba(21, 189, 38, 0.91);
    border-radius: 5px;
    margin-top: 250px;
    margin-left: 120px;
    width: 120px;
    padding: 10px;
    text-transform: uppercase ;
    color: white;
}
.team h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
  margin: 20px;
  width: 300px;
  height: fit-content;
  background: rgba(66, 226, 40, 0.03);
  box-shadow: 0 10px 15px green;
  border: 0.2px solid green;
}
.team .card .circle img{
  margin: 20px 0px 10px 73px;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  box-shadow: 0 9px 12px green;
  border: 0.2px solid green;
}


.name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-shadow: 5px 5px 3px black;
    font-family: 'Times New Roman', Times, serif
}
.pos{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    text-shadow: 5px 5px 3px black  ;
}

.team .card p{
    font-size: 20px;
    color: rgb(103, 223, 103);
    padding: 10px;
    line-height: 21px;
    font-family:'Great Vibes';
    text-shadow: 5px 5px 3px black;
    text-align: center;
}
.partners .card p{
    font-size: 16px;
    color:white;
    padding: 10px;
    line-height: 21px;
    text-align: justify;
}

.card .img{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img:hover{
    opacity: 0.8;
    transition: all .3s ease-in-out;
}
.partners h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    
}
.logo img{
    width: 300px;
    height: 170px;
}
.bm{
    width: 225px !important;
    height: 80px !important;
    margin: 35px 0px 50px 40px;
}
.logo p{
    font-size: 12px;
}
.unbtn button{
    margin-bottom: 30px;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: #105B13;
    text-transform: uppercase; 
}
.unbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bop{
    margin: 5vh;
    text-align: center;
    text-transform: uppercase;
}
.bop a{
    background-color: rgba(21, 189, 38, 0.91);
    text-decoration: none;
    color: black;
    padding: 15px;
    font-weight: 800;
    border-radius: 5px;

}

.images img{
    padding: 10px;
}
/* Footer ni nga part */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: fixed;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: rgb(23, 49, 23, 0.3);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 10%;
  position: relative;

}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: green;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: green;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: green;
}

.footer-links a:hover {
  color: green;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      